.top
  {
      position: absolute;
      width: 100%;
  }
  .header
  {
      background-color: #f2f3f7;
      width: 100%;
      height: 150px;
      padding-top: 45px;
  }

.testimonial_container {
  max-width: 1400px;
  margin: 0 auto;
 }

 .testmonial-bg {
   background: #F2F6FD;
   width: 100%;
  height: 100%;
  padding: 3rem 2rem;
 }

 .testimonial_title {
   font-size: 1.5rem;
   margin-bottom: 2.5rem;
 }

 .test_hr {
  border: 2px solid silver;
  width: 30px; 
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
 }

 .test_name {
  margin-top: 10px;
  color:#7A7A7A;
 }

 .test_para {
  text-align: center;
  font-size: 1rem;
}

 @media screen and (max-width:1199px) {
   .test_three_card {
     margin-top: 2rem;
   }

   .test_para {
    text-align: center;
    font-size: 0.9rem;
  }

  .testmonial-bg {
   padding: 2rem 1.5rem;
  }

  .testimonial_title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
 }

 @media screen and (max-width:767px) {
   .test_two_card {
     margin-top: 2rem;
   }

   .testmonial-bg {
    padding: 1.5rem 1rem;
   }

   .testimonial_title {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
 }

 .test_view_more_btn {
   margin: 3rem 0 1rem 0;
   background: #25262A;
   color: #fff;
   border: none;
   outline: none;
   padding: 1rem 3rem;
   border-radius: 5px;
 }

 @media screen and (max-width:800px) {
  .test_view_more_btn {
    margin: 2.7rem 0 40px 0;
    font-size: 0.9rem;
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width:500px) {
  .test_view_more_btn {
    margin: 2rem 0 40px 0;
    font-size: 0.7rem;
    padding: 0.8rem 2rem;
  }
}