.top
  {
      position: absolute;
      margin-top:114px;
      width: 100%;
      height:100%;
      background-color: #f6f6f6;
  }
  .example-margin {
    margin: 0 10px;
  }
  .modal
  {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius:20px;
    text-align:center;
    max-height: 100%;
    overflow-y:auto;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .modal-dialog
  {
    display: inline-block;
  
  }
  .close
  {
    /* float: right; */
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .close:hover
  {
    transform: rotate(360deg);
  }
  .close:focus
  {
    outline: none;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin:auto;
    
  }
  
  .example-full-width {
    width: 100%;
    margin-top: 5px;
  }
  .center
  {
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  .center .btn
  {
    background: black;
    color:white;
    width: 100%;
    height: 45px;
  }
  /* .center .btn:hover
  {
    background: #303030;
    color:white;
  } */
  .center .btn1
  {
    background: red;
    color:white;
    width: 250px;
    height: 50px;
  }
  .center .btn1:focus
  {
    outline: none;
    border:1px solid red;
  }
  h3{
    margin-bottom: 30px;
  }
 
  input[type='text'],
  input[type='password']
  {
    outline: none;
  }
@media screen and (max-width: 600px) {
  #hidest
  {
    display: block;
  }
 
  .modal
  {
    width: 90%;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    
  }
  .dynamic .column
  {
    display: none;
  }
 
}
@media screen and (max-width: 800px) {
  #hidest
  {
    display: block;
  }
  .modal
  {
    width: 90%;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  .dynamic .row .column
  {
    /* float: left; */
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: #ffc635;
    background-image: linear-gradient(-45deg, #ffc635, #ff8209  );
  }
  .dynamic .row .column1
  {
    /* float: left; */
    width: 100%;
    height: 900px;
    padding: 0 10px;
    background-color: #f6f6f6;
  }
  .dynamic .column
  {
   display: none;
  }

}
.questionNumbers {
  display: flex;
  align-items: center;
}
.questionNumberIcon {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.questionNumberLine {
  flex: 1 0 auto;
  height: 0;
  border-top: 1px solid black;
}
.dynamic
{
  /* margin: 50px auto; */
  width: 100%;
  height:100%;
  background-color: #f6f6f6;
  background:#f6f6f6;
  /* background-size: cover; */
 
  
}
.dynamic .column
{
  float: left;
  width: 33%;
  height: 1000px;
  padding: 0 10px;
  background-color: #ffc635;
  background-image: linear-gradient(-45deg, #ffc635, #ff8209  );
}
.dynamic .column1
{
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: #f6f6f6;
}
.column .buttons
{
  margin-top: 60%;
  margin-right:-11px;
}
.column .buttons .btn
{
  color: white;
  padding: 0px;
  margin: 0px;
  width: 80px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.column .buttons .btn1
{
  color: #ff8209;
  background-color: #f6f6f6;
  border: 1px solid #ff8209; 
  padding: 0px;
  margin: 0px;
  width: 80px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* .column .buttons .btn:hover
{
  color: #ffc635;
  background-color: #f6f6f6;
} */
.column .buttons .btn:focus
{
  outline: none;
  outline-color: #f6f6f6;
  border: 1px solid #ffc635;
}
.innerbox
{
  width: 100%;
  height: 100%;
  text-align: center;
  margin:7% auto;
  justify-content: center;
  justify-items: center;
  /* margin-left:25%; */
}
.example-button-container {
  justify-content: center;
  text-align: center;
  justify-items: center;
  margin: 20px auto;
  width: 120px;
}
.innerbox1
{
  width: 50%;
  height: 100%;
  text-align: center;
  margin: 7% auto;
  justify-content: center;
  justify-items: center;
  /* margin-left:50%; */
}
#hidest
{
  display: block;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}