.top
  {
      position: absolute;
      margin-top:114px;
      width: 100%;
      height:100%;
  }
  .example-margin {
    margin: 0 10px;
  }
  .modal
  {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius:20px;
    text-align:center;
    max-height: 100%;
    overflow-y:auto;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .modal-dialog
  {
    display: inline-block;
  
  }
  .close
  {
    /* float: right; */
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .close:hover
  {
    transform: rotate(360deg);
  }
  .close:focus
  {
    outline: none;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .example-full-width {
    width: 100%;
    margin-top: 5px;
  }
  .center
  {
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  .center .btn
  {
    background: #303030;
    color:white;
    width: 250px;
    height: 50px;
  }
  .center .btn1
  {
    background: red;
    color:white;
    width: 250px;
    height: 50px;
  }
  .center .btn1:focus
  {
    outline: none;
    border:1px solid red;
  }
  h3{
    margin-bottom: 30px;
  }
 
  input[type='text'],
  input[type='password']
  {
    outline: none;
  }
@media screen and (max-width: 600px) {
  .modal
  {
    width: 90%;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    
  }
  
 
}
@media screen and (max-width: 800px) {
  .modal
  {
    width: 90%;
    height: 100%;
    overflow-y:auto;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  
}
.questionNumbers {
  display: flex;
  align-items: center;
}
.questionNumberIcon {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.questionNumberLine {
  flex: 1 0 auto;
  height: 0;
  border-top: 1px solid black;
}