<div class="top">
    <div class="header">
        <h1 align="center">How</h1>
    </div>
    <div class="stepper">
        <h6 align="center">करे मुद्दे की बात?</h6>
        <h3 style="margin-top: -10px;margin-bottom:50px;">How to get yourDes<span
                style="border-bottom:4px solid #00d3f3;">iCa</span>rt @ your doorstep?</h3>
        <div class="row col-xs-12 col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-2 col-md-2" float="center" id="myDIV1">
                <div class="numberCircle">1</div>
                <p>Signup</p>
                <span class="hide1" style="text-align: center;">Get yourDesiCart India Locker
                    Address to store all your
                    shopping items.</span>
            </div>
            <div class="col-sm-1 dash" align="center">-----</div>
            <div class="col-xs-12 col-sm-2 col-md-2" float="center" id="myDIV2">
                <div class="numberCircle">2</div>
                <p style="margin-left: 25px;">Shop</p>
                <span class="hide2" style="text-align: center;">Shop from any store in India & ship to your Locker. Get
                    package picked up from
                    friends/family in
                    India. Avail custom tailoring and other concierge services</span>
            </div>
            <div class="col-sm-1 dash">-----</div>
            <div class="col-xs-12 col-sm-2 col-md-2" float="center" id="myDIV3">
                <div class="numberCircle">3</div>
                <p style="margin-left: 25px;">Relax</p>
                <span class="hide3" style="text-align: center;">We will Track your Indian shopping orders, Inspect them,
                    Consolidate into one
                    package to save
                    costs and Ship them to your doorstep anywhere in the world</span>
            </div>
            <div class="col-sm-1 dash">-----</div>
            <div class="col-xs-12 col-sm-2 col-md-2" float="center" id="myDIV4">
                <div class="numberCircle">4</div>
                <p style="margin-left: 20px;">Receive</p>
                <span class="hide4" style="text-align: center;">Receive at your doorstep in 3-10 days. Enjoy
                    yourDesiCart sitting miles away
                    from
                    India !</span>
            </div>
            <!-- <div class="col-sm-2"></div> -->
        </div>
    </div>
    <footer>
        <div class="row col-xs-12 col-sm-12 col-md-12" id="footer">
            <div class="col-xs-12 col-sm-4">
                <div id="cvvv">
                    <h4 class="title">yourDesiCart</h4>
                    <div class="textwidget">
                        <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
                        </div>


                        <p>84 High street, Kondapur Hyderabad 500084</p>
                        <p>Email: yourDesiCart@gmail.com</p>
                        <p>Phone: +91 8328579397</p>
                        <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                        </div>
                        <span style="margin: 0px 5px 0px 0px">
                            <a itemprop="url" class="" href="https://www.facebook.com/yourDesiCart" target="_blank"
                                rel="noopener noreferrer">
                                <span class="flip-icon-holder">
                                    <span class="icon-normal"><i
                                            class="qodef-icon-font-awesome fa fa-facebook qodef-icon-element"
                                            style="color:#ffff;font-size:22px"
                                            onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                            onMouseOut="this.style.color='#ffffff'"></i></span>
                                </span>
                            </a>
                        </span>
                        <span style="margin: 0px 5px 0px 5px">
                            <a itemprop="url" class="" href="https://twitter.com/" target="_blank"
                                rel="noopener noreferrer">
                                <span class="flip-icon-holder">
                                    <span class="icon-normal"><i
                                            class="qodef-icon-font-awesome fa fa-twitter qodef-icon-element"
                                            style="color:#ffff;font-size:22px"
                                            onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                            onMouseOut="this.style.color='#ffffff'"></i></span>
                                </span>
                            </a>
                        </span>
                        <span style="margin: 0px 5px 0px 5px">
                            <a itemprop="url" class="" href="https://www.linkedin.com/" target="_blank"
                                rel="noopener noreferrer">
                                <span class="flip-icon-holder">
                                    <span class="icon-normal"><i
                                            class="qodef-icon-font-awesome fa fa-linkedin qodef-icon-element"
                                            style="color:#ffff;font-size:22px"
                                            onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                            onMouseOut="this.style.color='#ffffff'"></i></span>
                                </span>
                            </a>
                        </span>
                        <span style="margin: 0px 5px 0px 5px">
                            <a itemprop="url" class="" href="https://www.instagram.com/yourDesiCart" target="_blank"
                                rel="noopener noreferrer">
                                <span class="flip-icon-holder">
                                    <span class="icon-normal"><i
                                            class="qodef-icon-font-awesome fa fa-instagram qodef-icon-element"
                                            style="color:#ffff;font-size:22px"
                                            onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                            onMouseOut="this.style.color='#ffffff'"></i></span>
                                </span>
                            </a>
                        </span>
                        <span style="margin: 0px 5px 0px 5px">
                            <a itemprop="url" class="" href="https://in.pinterest.com/yourDesiCart/" target="_blank"
                                rel="noopener noreferrer">
                                <span class="flip-icon-holder">
                                    <span class="icon-normal"><i
                                            class="qodef-icon-font-awesome fa fa-pinterest qodef-icon-element"
                                            style="color:#ffff;font-size:22px"
                                            onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                            onMouseOut="this.style.color='#ffffff'"></i></span>
                                </span>
                            </a>
                        </span>
                        <span style="margin: 0px 5px 0px 5px">
                            <a itemprop="url" class="" href="https://www.youtube.com" target="_blank"
                                rel="noopener noreferrer">
                                <span class="flip-icon-holder">
                                    <span class="icon-normal"><i
                                            class="qodef-icon-font-awesome fa fa-youtube-play qodef-icon-element"
                                            style="color:#ffff;font-size:22px"
                                            onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                            onMouseOut="this.style.color='#ffffff'"></i></span>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="vertical-line" style="height: 200px;width:0.1px; color: silver"></div>
                <div class="col-xs-12 col-sm-3">
                    <div class="qodef-column" style="margin-top: 40px;margin-left: 15px;">
    
                        <div class="textwidget custom-html-widget"><a href="terms-of-use">Terms of
                                Use</a></div>
    
                        <div id="custom_html-3" class="widget_text widget qodef-footer-column-2 widget_custom_html">
                            <div class="textwidget custom-html-widget"><a href="prohibited-items">Prohibited
                                    Items</a></div>
                        </div>
                    </div>
                </div> -->
            <div class="vertical-line" style="height: 200px;"></div>
            <div class="col-xs-12 col-sm-4">

                <div id="cvvv">
                    <h4 class="title" style="margin-left: 15px;">Quick Links</h4>
                    <ul>
                        <li>
                            <a [routerLink]="[]" (click)="personal()">Personal
                                Shopper from India</a>
                        </li>
                        <li>
                            <a [routerLink]="[]" (click)="onamshopping()">Onam
                                Shopping from India</a>
                        </li>
                        <li>
                            <a [routerLink]="[]" (click)="tosis()">To Sis, With
                                Love</a>
                        </li>
                        <li>
                            <a [routerLink]="[]" (click)="provibited()">Prohibited
                                Items</a>
                        </li>


                        <li>
                            <a [routerLink]="[]" (click)="terms()">Terms of
                                Use</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="vertical-line" style="height: 200px;"></div>
            <div class="col-xs-12 col-sm-3">
                <div id="cvvv">
                    <h4 class="title" style="margin-left: 15px;">ContactUs</h4>
                    <ul>
                        <li>
                            <a [routerLink]="[]" (click)="contactUs()">ContactUs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>