.header
{
    background-color: #f2f3f7;
    width: 100%;
    height: 150px;
    padding-top: 45px;
}
h5{
    color: black;
}


.door-step-bg {
  /* background-color: #25262A; */
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
}

.door_step_hindhi_title {
  font-size: 1.3rem;
}

.doorstep_title {
  font-size: 1.5rem;
  margin: 1rem 0 3rem 0;
}

@media screen and (max-width:800px) {
  .door_step_hindhi_title {
    font-size: 1rem;
  }

  .doorstep_title {
    font-size: 1.2rem;
    margin: 0.9rem 0 2rem 0;
  }

  .door-step-bg {
    padding: 2rem 1rem;
  }
  
}

@media screen and (max-width:500px) {
  .door_step_hindhi_title {
    font-size: 0.8rem;
  }

  .doorstep_title {
    font-size: 0.9rem;
    margin: 0.7rem 0 1rem 0;
  }

  .door-step-bg {
    padding: 2rem 0.7rem;
  }
}

.numberCircle
  {
      border-radius: 50%;
      /* width:120px;
      height: 120px;
      padding: 34px; */
      padding: 30px;
      /* width: 100%; */
      height: 120px;
      width: 120px;
      margin: 0 auto 2rem auto;
      background: black;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 40px Arial, sans-serif;
  }
  /* .numberCircle:hover {
    -ms-transform: scale(1.4); 
    -webkit-transform: scale(1.4); 
    transform: scale(1.4); 
    color: #F7CD26;
    border: 8px solid #F7CD26;
  } */

  .door_step_para {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1rem;
  }

  .circle_title {
    color: #F7CD26;
    font-size: 1.1rem;
  }

  @media screen and (max-width:1199px) {
    .circle_three, .circle_four {
       margin-top: 1.5rem;
    }

    .numberCircle
  {
      border-radius: 50%;
      padding: 30px;
      height: 100px;
      width: 100px;
      margin: 0 auto 1.4rem auto;
      background: #25262A;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 30px Arial, sans-serif;
  }
  }

  @media screen and (max-width:767px) {
    .circle_one, .circle_two, .circle_three, .circle_four {
       margin-top: 1.1rem;
    }

    .numberCircle
  {
      border-radius: 50%;
      padding: 30px;
      height: 100px;
      width: 100px;
      margin: 0 auto 1rem auto;
      background: black;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 30px Arial, sans-serif;
  }
  }

  @media screen and (max-width:500px) {
    .circle_one, .circle_two, .circle_three, .circle_four {
       margin-top: 1.1rem;
    }

    .door_step_para {
      font-size: 0.8rem;
    }

    .numberCircle
  {
      border-radius: 50%;
      padding: 30px;
      height: 85px;
      width: 85px;
      margin: 0 auto 1rem auto;
      background: black;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 20px Arial, sans-serif;
  }
  }