<div class="top">
    <h3>Namaste {{tableData.Name}}</h3>
    <p>Welcome to yourDesiCart, your shopping friend from India!
        Thank you for choosing us for your hassle-free shopping needs in India. Shop & Ship anything from India.</p>

    <div style="display: inline;">

        <h3>yourDesiCart Locker Address</h3>
        <p>- to store all your purchases in India</p>

    </div>
    <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
    </div>
    <div>
        <div class="row col-xs-12 col-sm-12 col-md-12">
            <div class=" col-xs-12 col-sm-6 col-md-6">
                <div class="card">
                    <div class="card-body" height="400">
                        <label>Locker #344,</label><br>
                        <span> Flat G1, Reliance Kamal Apartment,
                            84 High Street, Gauthami Enclave Society,
                            Kondapur, K.V.Rangareddy District
                        </span><br><br>
                        <label>City/State:</label>
                        <span>Hyderabad, Telangana, India</span><br>
                        <label>PinCode:</label>
                        <span> 500084</span><br>
                        <label>Address Type:</label>
                        <span> Home</span><br>
                        <label>Phone:</label>
                        <span> +91-8328579397</span><br>
                        <label>Email Address:</label>
                        <span> yourDesiCart@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div>
                    <h5 align="center" style="margin-top: 30px;">Yourdesicart Current Balance</h5>
                    <h3 align="center" style="color:green;"><span style="font-size: 18px;">₹</span>750</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
    </div>
    <div>
        <h3>In progress & History</h3>
        <table width="70%" frame="box" rules="all" style="text-align: center;">
            <thead>
                <th>Date</th>
                <th>Tracking ID</th>
                <th>Package Details</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
    </div>
    <div>
        <h3>yourDesiCart Locker Terms</h3>
        <div class="row col-xs-12 col-sm-12 col-md-12">
            <div class=" col-xs-12 col-sm-5 col-md-5">

                <p> You would get a DesiCart India Locker assigned for all your orders.
                    This locker is yours for lifetime for free of charge!
                    You get locker free of charge for 20 days from the day your first
                    package arrives in the locker. After that we charge Rs.200 per week.
                    Locker clock and all fees will reset once the package is shipped to
                    your doorstep.</p>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="fluidvids">
                    <iframe title="Shop From India Ship Worldwide" width="700" height="300"
                        src="https://www.youtube.com/embed/fAFXkcxXPtQ?feature=oembed" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="" class="fluidvids-item" data-fluidvids="loaded">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>