<header>
    <div class="container-fluid">
        <div class="branding adjust-left">
            <div class="row hide-in-mob">
                <div class="col-sm-2">
                    <div class="logo">
                        <img src="assets\Images\Group 23.png" width="69" height="69">
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="topnav" id="myTopnav">
                        <a [routerLink]="['homepage']"  routerLinkActive="active">Home</a>
                        <a href="#contact" routerLinkActive="active">How</a>
                        <a [routerLink]="['pricing']"  routerLinkActive="active">Pricing & Services</a>
                        <a [routerLink]="['shipping']" routerLinkActive="active">Shipping Calculator</a>
                        <!-- <a [routerLink]="['contact']"  routerLinkActive="active">ContactUs</a> -->
                        <!-- <a  href="#contact" routerLinkActive="active">Login</a> -->
                        <!-- <a [routerLink]="['login']" routerLinkActive="active">Login</a> -->
                        <a [routerLink]="['shop']" routerLinkActive="active">Shop</a>
                        <a [routerLink]="['login']" routerLinkActive="active" data-backdrop="static" data-keyboard="false">SignUp/Login</a>
                        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
                          <i class="fa fa-bars"></i>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</header>