<header>
    <div class="container-fluid">
        <div class="branding adjust-left">
            <div class="row hide-in-mob">
                <div class="col-sm-2">
                    <div class="logo">
                        <img src="assets\Images\Group 23.png" width="69" height="69">
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="topnav" id="myTopnav">
                        <a [routerLink]="['homepage']" class="active">Home</a>
                        <a [routerLink]="['headerlink']" >How</a>
                        <a href="#contact">Pricing & Services</a>
                        <a href="#about">Shipping Calculator</a>
                        <a href="#contact">Shop</a>
                        <a href="#about">Login</a>
                        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
                          <i class="fa fa-bars"></i>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</header>