<div class="top">
    <div class="header">
        <h1 align="center">Shop From Indian Online Sites</h1>
    </div>
    <div class="vc_empty_space" style="height: 30px;"><span class="vc_empty_space_inner"></span>
    </div>
    <div class="header1">
        <h5 align="center">
            Shop Anything From Anywhere In India. Below Is Just A Guide. Looking For More Options Or Indian Store
            Recommendations, Tailoring Or Package Pick-Up Services? Or Need Something Else From India?
        </h5>
        <p align="center">Reach us now via WhatsApp, Facebook or Signup!</p>
    </div>
    <div class="card-container" style="margin-top: 70px;">
        <a class="card" target="_blank" rel="noopener" href="https://www.myntra.com">
            <img src="assets\Images\Group 39.png" height="53" width="173">
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://www.amazon.com">
            <img src="assets\Images\Group 40.png" height="53" width="173">
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://www.flipkart.com/">
            <img src="assets\Images\Group 42.png" height="53" width="173">
        </a>
        <a class="card" target="_blank" rel="noopener" href="https://www.ajio.com">
            <img src="assets\Images\Group 47.png" height="53" width="173">
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://www.fabindia.com/">
            <img src="assets\Images\Group 46.png" height="53" width="173">
        </a>
    </div>
    <div class="card-container">
        <a class="card" target="_blank" rel="noopener" href="https://www.limeroad.com/">
            <img src="assets\Images\Group 38.png" height="53" width="173">
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://www.pepperfry.com/">
            <img src="assets\Images\Group 41.png" height="53" width="173">
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://www.nykaa.com/">
            <img src="assets\Images\Group 43.png" height="53" width="173">
        </a>
        <a class="card" target="_blank" rel="noopener" href="https://paytmmall.com/">
            <img src="assets\Images\Group 44.png" height="53" width="173">
        </a>

        <a class="card" target="_blank" rel="noopener" href="https://www.snapdeal.com/">
            <img src="assets\Images\Group 45.png" height="53" width="173">
        </a>
    </div>
    <!-- <div class="card-container">
            <a class="card" target="_blank" rel="noopener" href="https://www.limeroad.com/">
                <img src="assets\Images\chumbak.png" height="53" width="173">
            </a>
    
            <a class="card" target="_blank" rel="noopener" href="https://www.pepperfry.com/">
                <img src="assets\Images\saree-dot-com.png" height="53" width="173">
            </a>
    
            <a class="card" target="_blank" rel="noopener" href="https://www.nykaa.com/">
                <img src="assets\Images\jabong.png" height="53" width="173">
            </a>
            <a class="card" target="_blank" rel="noopener" href="https://paytmmall.com/">
                <img src="assets\Images\ecret-label.jpg.png" height="53" width="173">
            </a>
    
            <a class="card" target="_blank" rel="noopener" href="https://www.snapdeal.com/">
                <img src="assets\Images\Group 45.png" height="53" width="173">
            </a>
        </div> -->
    <div class="black">
        <div>
            <h4>For More Latest Indian Deals, Sales, Discounts Join Our Facebook Group</h4>
            <a href="">Shop & Ship from India – https://www.facebook.com/groups/ShopFromIndiaShipWorldWide/</a>
        </div>
    </div>
    <footer>
        <div class="row col-xs-12 col-sm-12 col-md-12" id="footer">
            <div class="col-xs-12 col-sm-4">
                <h4 class="title">yourDesiCart</h4>
                <div class="textwidget">
                    <div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span>
                    </div>


                    <p>84 High street, Kondapur Hyderabad 500084</p>
                    <p>Email: yourDesiCart@gmail.com</p>
                    <p>Phone: +91 8328579397</p>
                    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                    </div>
                    <span style="margin: 0px 5px 0px 0px">
                        <a itemprop="url" class="" href="https://www.facebook.com/yourDesiCart" target="_blank"
                            rel="noopener noreferrer">
                            <span class="flip-icon-holder">
                                <span class="icon-normal"><i
                                        class="qodef-icon-font-awesome fa fa-facebook qodef-icon-element"
                                        style="color:#ffff;font-size:22px"
                                        onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                        onMouseOut="this.style.color='#ffffff'"></i></span>
                            </span>
                        </a>
                    </span>
                    <span style="margin: 0px 5px 0px 5px">
                        <a itemprop="url" class="" href="https://twitter.com/" target="_blank"
                            rel="noopener noreferrer">
                            <span class="flip-icon-holder">
                                <span class="icon-normal"><i
                                        class="qodef-icon-font-awesome fa fa-twitter qodef-icon-element"
                                        style="color:#ffff;font-size:22px"
                                        onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                        onMouseOut="this.style.color='#ffffff'"></i></span>
                            </span>
                        </a>
                    </span>
                    <span style="margin: 0px 5px 0px 5px">
                        <a itemprop="url" class="" href="https://www.linkedin.com/" target="_blank"
                            rel="noopener noreferrer">
                            <span class="flip-icon-holder">
                                <span class="icon-normal"><i
                                        class="qodef-icon-font-awesome fa fa-linkedin qodef-icon-element"
                                        style="color:#ffff;font-size:22px"
                                        onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                        onMouseOut="this.style.color='#ffffff'"></i></span>
                            </span>
                        </a>
                    </span>
                    <span style="margin: 0px 5px 0px 5px">
                        <a itemprop="url" class="" href="https://www.instagram.com/yourDesiCart" target="_blank"
                            rel="noopener noreferrer">
                            <span class="flip-icon-holder">
                                <span class="icon-normal"><i
                                        class="qodef-icon-font-awesome fa fa-instagram qodef-icon-element"
                                        style="color:#ffff;font-size:22px"
                                        onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                        onMouseOut="this.style.color='#ffffff'"></i></span>
                            </span>
                        </a>
                    </span>
                    <span style="margin: 0px 5px 0px 5px">
                        <a itemprop="url" class="" href="https://in.pinterest.com/yourDesiCart/" target="_blank"
                            rel="noopener noreferrer">
                            <span class="flip-icon-holder">
                                <span class="icon-normal"><i
                                        class="qodef-icon-font-awesome fa fa-pinterest qodef-icon-element"
                                        style="color:#ffff;font-size:22px"
                                        onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                        onMouseOut="this.style.color='#ffffff'"></i></span>
                            </span>
                        </a>
                    </span>
                    <span style="margin: 0px 5px 0px 5px">
                        <a itemprop="url" class="" href="https://www.youtube.com/yourDesiCart" target="_blank"
                            rel="noopener noreferrer">
                            <span class="flip-icon-holder">
                                <span class="icon-normal"><i
                                        class="qodef-icon-font-awesome fa fa-youtube-play qodef-icon-element"
                                        style="color:#ffff;font-size:22px"
                                        onMouseOver="this.style.color='rgb(0, 211, 243)'"
                                        onMouseOut="this.style.color='#ffffff'"></i></span>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
            <!-- <div class="vertical-line" style="height: 200px;width:0.1px; color: silver"></div>
                <div class="col-xs-12 col-sm-3">
                    <div class="qodef-column" style="margin-top: 40px;margin-left: 15px;">
    
                        <div class="textwidget custom-html-widget"><a href="terms-of-use">Terms of
                                Use</a></div>
    
                        <div id="custom_html-3" class="widget_text widget qodef-footer-column-2 widget_custom_html">
                            <div class="textwidget custom-html-widget"><a href="prohibited-items">Prohibited
                                    Items</a></div>
                        </div>
                    </div>
                </div> -->
            <div class="vertical-line" style="height: 200px;"></div>
            <div class="col-xs-12 col-sm-4">

                <h4 class="title" style="margin-left: 15px;">Quick Links</h4>
                <ul>
                    <li>
                        <a href="terms-of-use">Terms of
                            Use</a>
                    </li>
                    <li>
                        <a href="prohibited-items">Prohibited
                            Items</a>
                    </li>
                    <li>
                        <a href="http://yourdesicart.com/personal-shopper-from-india/">Personal
                            Shopper from India</a>
                    </li>
                    <li>
                        <a href="http://yourdesicart.com/onam-shopping-from-india/">Onam
                            Shopping from India</a>
                    </li>
                    <li>
                        <a href="http://yourdesicart.com/to-sis-with-love/">To Sis, With
                            Love</a>
                    </li>
                </ul>
            </div>
            <div class="vertical-line" style="height: 200px;"></div>
            <div class="col-xs-12 col-sm-3">
                <div>
                    <h4 class="title" style="margin-left: 15px;">ContactUs</h4>
                    <ul>
                        <li>
                            <a [routerLink]="['contact']">ContactUs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>