.modal
  {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    border-radius:20px;
    max-height: 100%;
    padding-bottom: 50px; 
    overflow-y: scroll;
    
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  p{
    color: grey;
  }