.top
  {
      position: absolute;
      margin-top:114px;
      width: 100%;
  }
  .modal
  {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    border-radius:20px;
    max-height: 100%;
    padding-bottom: 50px; 
    
  }
  /* .modal::-webkit-scrollbar {
    display: none;
  } */
  
  .close
  {
    float: right;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .close:hover
  {
    transform: rotate(360deg);
  }
  .close:focus
  {
    outline: none;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  .center
  {
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  .center .btn
  {
    background: black;
    color:white;
    width: 100%;
    height: 45px;
  }
  /* .center .btn:hover
  {
    background: #303030;
    color:white;
  } */
  .center .btn1
  {
    background: red;
    color:white;
    width: 150px;
    height: 50px;
  }
  .center .btn1:focus
  {
    outline: none;
    border: 1px solid red;
  }
  h3{
    margin-top:-20px;
    margin-bottom: 30px;
  }
  input[type='text'],
  input[type='password']
  {
    outline: none;
  }
  .numberCircle
  {
      /* border-radius: 50%;
      width:40px;
      height: 40px;
      padding: 20px;
      margin-left: 25px;
      background: black;
      border: 1px solid black;
      color: black;
      text-align: center;
      transition: transform .2s;
      font: 16px Arial, sans-serif; */
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      font-size: 14px;
      color: black;
      text-align: center;
      border: 1px solid black;
      /* background: #000 */
  }
  @media screen and (max-width: 600px) {
    .modal
    {
      width: 90%;
      height: 100%;
      overflow-y:auto;
      scrollbar-width: none;
    }
    .modal::-webkit-scrollbar {
      display: none;
    }
    .example-form {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
    }
    .innerbox1
  {
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 7% auto;
    justify-content: center;
    justify-items: center;
    margin-left:5%;
  }
  .dynamic .column
  {
    /* float: left; */
    width: 100%;
    height: 100px;
    padding: 0 10px;
    background-color: #ffc635;
    background-image: linear-gradient(-45deg, #ffc635, #ff8209  );
  }
  .dynamic .column1
  {
    /* float: left; */
    width: 100%;
    height: 900px;
    padding: 0 10px;
    background-color: #f6f6f6;
  }
   .column .buttons
  {
   display: none;
  }
   #hidest
  {
    display: block;
  }

  }
  @media screen and (max-width: 800px) {
    .dynamic .row .column
    {
      /* float: left; */
      width: 100%;
      height: 100%;
      padding: 0 10px;
      background-color: #ffc635;
      background-image: linear-gradient(-45deg, #ffc635, #ff8209  );
    }
    .dynamic .row .column1
    {
      /* float: left; */
      width: 100%;
      height: 900px;
      padding: 0 10px;
      background-color: #f6f6f6;
    }
   .column .buttons
  {
   display: none;
  }
  .top .dynamic .row .column1 .innerbox #hidest
  {
    display: block;
  }
  }
  .questionNumbers {
    display: flex;
    align-items: center;
  }
  .questionNumberIcon {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
  }
  .questionNumberLine {
    flex: 1 0 auto;
    height: 0;
    border-top: 1px solid black;
  }

  /* .leftpanel
  {
    height:600px;
    background-color: #ff8611;
    background-image: linear-gradient(180deg, #ff8611, #ff9515  );
  } */
  .dynamic
  {
    /* margin: 50px auto; */
    width: 100%;
    /* height:900px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    /* background-size: 100% 100%; */
    /* position: fixed; */
  }
  .dynamic .column
  {
    float: left;
    width: 33%;
    height: 900px;
    padding: 0 10px;
    background-color: #ffc635;
    background-image: linear-gradient(-45deg, #ffc635, #ff8209  );
  }
  .dynamic .column1
  {
    /* float: left; */
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: #f6f6f6;
  } 
 
  .column .buttons
  {
    margin-top: 60%;
    margin-right:-11px;
  }
  
  .column .buttons .btn
  {
    color: white;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .column .buttons .btn1
  {
    color: #ff8209;
    background-color: #f6f6f6;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 40px;
    border: 1px solid #ff8209; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .colum .buttons a{
    color: white;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .column .buttons button btn.active
  {
    color: #ff8209;
    background-color: #f6f6f6;
  }
  /* .column .buttons .btn:hover
  {
    color: #ffc635;
    background-color: #f6f6f6;
  } */

  .column .buttons .btn:focus
  {
    outline: none;
    outline-color: #f6f6f6;
    border: 1px solid #ffc635;
  }

  .dynamic .row .column .buttons1
  {
   display: none;
  }

  .innerbox
  {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 7% auto;
    justify-content: center;
    justify-items: center;
    /* margin-left:25%; */
  }
  .example-button-container {
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin: 20px auto;
    width: 120px;
  }
  .innerbox1
  {
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 7% auto;
    justify-content: center;
    justify-items: center;
    margin-left:25%;
  }
  #hidest
  {
    display: block;
  }