.top
  {
      /* position: absolute; */
      margin-top:50px;
      width: 100%;
  }
 .shipping
  {
    width: 95%;
    /* margin-left: 20px; */
    /* margin-top: 10px; */
    margin: 0 auto;
  }
  .shipping .card .card-body
  {
    background: #303030;
    color: white;
  }
  .shipping .card .card-body input
  {
    outline: none;
  }
  .shipping .card .card-body select
  {
    height: 30px;
  }
  .card-body .row .right input
  {
    width: 410px;
    margin-left: 20px;
  }
  .card-body .row .right label
  {
  
    margin-left: 20px;
  }
  .shipping label
  {
      font-weight: bold;
  }
  .shipping .card .card-body input[type='radio'] {
      -webkit-appearance:none;
      width:20px;
      height:20px;
      border:1px solid darkgray;
      border-radius:50%;
      outline:none;
    }
    .shipping .card .card-body input[type='radio']:before {
      content:'';
      display:block;
      width:60%;
      height:60%;
      margin: 20% auto;    
      border-radius:50%;    
    }
    .shipping .card .card-body input[type='radio']:checked:before {
      background:#9ED226;
    }
    .center1
    {
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin:20px auto;
        margin-bottom: 10px;
        /* margin-top: 30px; */
    }
    .center1 button
    {
      height: 40px;
      background: white;
      font-size: 16px;
      border-radius: 10px;
      color: black;
    }
    .center1 button:focus{
        outline: none;
    }
    .center1 a
    {
        color: white;
    }

  .review
  {
    width: 100%;
    /* height:500px; */
    height: 100%;
    left: 0px;
    /* margin-left: -15px; */
    background: #F2F6FD;
    margin-top: 30px;
   
  }
/* Float four columns side by side */
.review .column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.review .row {margin: 0 -5px;padding-left: 60px;}

/* Clear floats after the columns */
.review .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.review .column .card {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 30px;
  width: 350px;
  height: 330px;
  margin-bottom: 50px;
  margin-top: 30px;
  background: #FFFFFF;
}
  .center
  {
      text-align: center;
      justify-content: center;
      justify-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .center button
  {
    width: 200px;
    height: 55px;
    background: #25262A;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
  }
  .center button:focus{
      outline: none;
  }
  .center a
  {
      color: white;
  }
  .services
  {
      width: 100%;
      margin-top:20px;
  }
  .services .row p
  {
      font-size:18px;
  }
  .services .row{
      margin-top: 20px;
  }
  footer{
    width: 100%;
    height: 340px;
    left: 0px;
    background: black;
    /* margin-left: -15px; */
    color: white;
    margin-top: -10px;
  }
  div.vertical-line{
    margin-top: 40px;
    color: silver;
    width: 0.1px;
    background: silver; 
    height: 100%; 
    float: left;
  }
  /* footer
  {
      margin-top: 40px;   
  } */
  footer .title
  {
    margin-top: 30px;
  }
  #footer
  {
    padding-top: 30px;
    /* margin-left: 20px; */
  }
  #footer p 
  {
    color: silver;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
  }
  #footer a
  {
    color: silver;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
  }
  #footer ul
  {
    list-style-type: none;
    margin-left: -25px;
    margin-top: 20px;
  }
  .icon-flipped:hover {
    transform: rotate(180deg);
}
.flip-icon-holder{
 padding: 10px 10px 10px 0px;;
}
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .col-sm 
    {
      display: flex;
      width: 100%;
    }
    .col-xs 
    {
      display: flex;
      width: 100%;
    }
    .review .row {margin: 0;padding-left:0;}
 
  .review .column
  {
    width: 100%;
  }
  .review .column .card {
    width: 100%;
    height: 330px;
  
    margin-top: 30px;
  }
  .card-body .row .right input
  {
    width: 100%;
    padding-left:0;
    margin-left:0;
  }
  .card-body .row .right label
  {
    padding-left:0;
    margin-left:0;
  }
  .card-body .row .right img
  {
    display: none;
  }
  #abc
  {
    width: 90px;
  }
  .center1
  {
      text-align: left;
      justify-content: left;
      justify-items: left;
      margin-top: 35px;
      margin-bottom: 10px;
  }
  footer
  {
    width: 100%;
    height: 100%;
  }  
  .vertical-line
  {
    display: none;
  }
 
}
@media screen and (max-width: 800px) {
  .col-sm 
    {
      display: flex;
      width: 100%;
    }
    .col-xs 
    {
      display: flex;
      width: 100%;
    }
    .col-md
    {
      display: flex;
      width: 100%;
    }
    .review .row {margin: 0;padding-left:0;}
  .review .column
  {
    width: 100%;
  }
  .review .column .card {
    width: 100%;
    height: 330px;
  
    margin-top: 30px;
  }
  .card-body .row .right input
  {
    width: 100%;
    /* margin-left: 20px; */
  }
  .card-body .row input
  {
    width: 100%;
  }
  /* .card-body .row .right label
  {
    margin-left: 20px;
  } */
  .card-body .row .right img
  {
    display: none;
  }
  #abc
  {
    width: 140px;
  }
  input[type='radio']
  {
    margin-top: 10px;
  }
  .center1
  {
      
      text-align: left;
      justify-content: left;
      justify-items: left;
      margin-top: 35px;
      margin-bottom: 10px;
  }
  .center1 .btn
  {
    font-size: 14px;
  }
  footer
  {
    width: 100%;
    height: 100%;
  }  
  .vertical-line
  {
    display: none;
  }
}
#cvvv
{
  float:none;
  margin: auto;
  width: 100%;
  justify-content: center;
  justify-items: center;
  text-align: center;
}


.testimonial_container {
  max-width: 1400px;
  margin: 0 auto;
 }

 .testmonial-bg {
   background: #F2F6FD;
   width: 100%;
  height: 100%;
  padding: 3rem 2rem;
 }

 .testimonial_title {
   font-size: 1.5rem;
   margin-bottom: 2.5rem;
 }

 .test_hr {
  border: 2px solid silver;
  width: 30px; 
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
 }

 .test_name {
  margin-top: 10px;
  color:#7A7A7A;
 }

 .test_para {
  text-align: center;
  font-size: 1rem;
}

 @media screen and (max-width:1199px) {
   .test_three_card {
     margin-top: 2rem;
   }

   .test_para {
    text-align: center;
    font-size: 0.9rem;
  }

  .testmonial-bg {
   padding: 2rem 1.5rem;
  }

  .testimonial_title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
 }

 @media screen and (max-width:767px) {
   .test_two_card {
     margin-top: 2rem;
   }

   .testmonial-bg {
    padding: 1.5rem 1rem;
   }

   .testimonial_title {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
 }

 .test_view_more_btn {
   margin: 3rem 0 1rem 0;
   background: #25262A;
   color: #fff;
   border: none;
   outline: none;
   padding: 1rem 3rem;
   border-radius: 5px;
 }

 @media screen and (max-width:800px) {
  .test_view_more_btn {
    margin: 2.7rem 0 40px 0;
    font-size: 0.9rem;
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width:500px) {
  .test_view_more_btn {
    margin: 2rem 0 40px 0;
    font-size: 0.7rem;
    padding: 0.8rem 2rem;
  }
}

#selectcountry {
  width: 233px;
}

@media screen and (max-width:768px) {
  #selectcountry {
    width: 200px;
  }
}

@media screen and (max-width:700px) {
  #selectcountry {
    width: 150px;
  }
}

@media screen and (max-width:575px) {
  .services p {
    text-align: center;
  }
}
.mat-typography
{
  height: 200px;
  overflow-y: scroll;
}

.box
{
  width: 85%;
  margin: auto;
  border: 1px solid gainsboro;
  margin-bottom: 40px;
}
.midest
{
  margin: auto;
}
.midest button
{
  background-color: black;
}
.test_view_more_btn:hover {
  transform: translateY(-3px);
  background-color:#3d434b;
}
@media screen and (max-width:990px) {
 #shiprate {
    width: 30px;
  }
}
.qodef-grid-section
{
  width: 100%;
  background-color: black;
  color: white;
}
.qodef-pricing-tables .card-header
{
  background-color: #ffd636;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.qodef-pricing-tables .card-body
{
  color: black;
  background-color: #f5f6f9;
  padding: 0;
  margin: 0;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius:20px ;
}
.qodef-pricing-tables
{
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.qodef-pricing-tables .card
{
  width: 100%;
  margin: auto;
  margin: 10px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.qodef-pricing-tables .card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.137);
}
.qodef-value
{
  font-size: 20px;
  font-weight: bold;
}
.qodef-price
{
  font-size: 40px;
  font-weight: bold;
}
li{
  list-style-type: none;
  text-align: center;
  font-size: 14px;
}
.qodef-mark
{
  color: silver;
  font-size: 14px;
}
.condolence
{
  background-color: #f6f7fb;
  width: 100%;
}
.inner_condolence
{
  width: 90%;
  margin: auto;
  padding: 40px 0;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
