<div class="top">
    <div class="shipping">
        <h4 style="margin: 0 0 15px 20px;">Shipping Calculator</h4>
        <div class="row col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 align="center">Estimate you Shipping Cost</h5>
                    </div>
                    <div class="card-body">
                        <div class="row col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <label>Country/Territory</label><br>
                                <input type="text"><br><br>
                                <label>Country/Territory</label><br>
                                <input type="text">
                            </div>
                            <div class="right col-xs-12 col-sm-8 col-md-8">
                                <label>From</label><br>
                                <input type="text" placeholder="Street address, City, Postal code, Country... ">
                                <img src="assets\Images\Group 1117.png" height="18" width="20"
                                    style="margin-left: 15px;">
                                <br><br>
                                <label>To</label><br>
                                <input type="text" placeholder="Street address, City, Postal code, Country... ">
                            </div>
                        </div>
                        <br>
                        <div class="row col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label>Weight</label><br>
                                <input type="text" size="12" id="abc">&nbsp;<input type="radio">&nbsp;Kgs&nbsp;&nbsp;&nbsp;<input
                                    type="radio">&nbsp;lbs<br><br><br>
                                <p><img src="assets\Images\circle.png" height="18" width="20">&nbsp;No account? No
                                    Problem! Pay with Credit card or Cash
                                </p>
                                <p><img src="assets\Images\circle.png" height="18" width="20">&nbsp;View packaging and
                                    delivery options
                                </p>
                                <p><img src="assets\Images\circle.png" height="18" width="20">&nbsp;View packaging and
                                    delivery options
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label>Length</label><br>
                                <input type="text" size="12" id="abc">&nbsp;<input type="radio">&nbsp;cm&nbsp;&nbsp;&nbsp;<input
                                    type="radio">&nbsp;in<br><br>
                                <label>Width</label><br>
                                <input type="text" size="12"><br><br>
                                <label>Height</label><br>
                                <input type="text" size="12">
                                <div class="center1">
                                    <a href=""><button class="btn">Get Shipping Rates</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p align="right">Packing weight , volumetric weight will be calculated Finally</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label>cm and in Conversion mode</label>
                <p>1 cm = 0.3937 in (1 in = 2.54 cm)</p>
                <br>
                <label>Kg and lbs Conversion mode</label>
                <p>1 lbs = 0.4536 Kg (1 Kg = 2.2046 lbs)</p>
                <br>
                <label>Package size sample</label>
                <div>
                    <br>
                    <img src="assets\Images\Group 909.png" width="270" height="200">
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="services">
        <h4 align="center">Services we offer</h4>
        <div class="row col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-2 col-md-2"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><img src="assets\Images\Group 1117.png" height="20" width="20">&nbsp;You Buy We Ship</p>
                <p><img src="assets\Images\Group 1117.png" height="20" width="20">&nbsp;Package Pickup</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><img src="assets\Images\Group 1117.png" height="20" width="20">&nbsp;Personal Shopper</p>
                <p><img src="assets\Images\Group 1117.png" height="20" width="20">&nbsp;Shipment Protection</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <p><img src="assets\Images\Group 1117.png" height="20" width="20">&nbsp;Personal Shopper</p>
                <p><img src="assets\Images\Group 1117.png" height="20" width="20">&nbsp;Medicines From India</p>
            </div>
        </div>
    </div>
    <div class="review">
        <h3 align="center" style="padding-top: 30px; font-weight: bold;">Why our customers say about us</h3>
        <div class="row">
            <div class="column">
                <div class="card" id="firstcard">
                    <h5 align="center">
                        <i class="fa fa-quote-left" aria-hidden="true" style="color: #FBBC5D;"></i>
                    </h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin.</p>
                    <hr
                        style=" border: 2px solid silver;width: 30px; height: 0px;margin-left: auto;margin-right: auto;margin-top: -5px;">
                    <div id="uicon">
                        <img src="assets\Images\Rectangle 50.png" width="70" height="70" class="rounded-circle"
                            style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;">
                    </div>
                    <h5 align="center" style="margin-top: 10px;color:#7A7A7A;">Gopinath Appam</h5>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h5 align="center">
                        <i class="fa fa-quote-left" aria-hidden="true" style="color: #FBBC5D;"></i>
                    </h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin.</p>
                    <hr
                        style=" border: 2px solid silver;width: 30px; height: 0px;margin-left: auto;margin-right: auto;margin-top: -5px;">
                    <div id="uicon">
                        <img src="assets\Images\Rectangle 50.png" width="70" height="70" class="rounded-circle"
                            style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;">
                    </div>
                    <h5 align="center" style="margin-top: 10px;color:#7A7A7A;">Gopinath Appam</h5>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h5 align="center">
                        <i class="fa fa-quote-left" aria-hidden="true" style="color: #FBBC5D;"></i>
                    </h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin.</p>
                    <hr
                        style=" border: 2px solid silver;width: 30px; height: 0px;margin-left: auto;margin-right: auto;margin-top: -5px;">
                    <div id="uicon">
                        <img src="assets\Images\Rectangle 50.png" width="70" height="70" class="rounded-circle"
                            style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;">
                    </div>
                    <h5 align="center" style="margin-top: 10px;color:#7A7A7A;">Gopinath Appam</h5>
                </div>
            </div>
        </div>
        <div class="center">
            <a href=""><button class="btn">View More</button></a>
        </div>
    </div>
</div>