.homePageContainer {
  width: 100%;
  height: 100%;
}

.woundering_text {
  font-size: 1.5rem;
  margin: 3rem 0;
}

@media screen and (max-width:800px) {
  .woundering_text {
    font-size: 1.3rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width:500px) {
  .woundering_text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
}

.slide_show_container {
    max-width: 1550px;
    margin: 0 auto;
}

.tech-slideshow {
  height: 250px;
  max-width:100%;
  margin: 0 auto 2rem auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 250px;
  width: 2526px;
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg); */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-39.6666%);  
  }
}

.slidehow_image {
  width:261px;
  height:250px;
}

@media screen and (max-width:800px) {
  .slidehow_image {
    width:200px;
    height:200px;
  }

  .tech-slideshow {
    height: 200px;
    margin: 0 auto 1.5rem auto;
  }
  
  .tech-slideshow > div {
    height: 200px;
  }
}

@media screen and (max-width:700px) {
  .slidehow_image {
    width:150px;
    height:150px;
  }

  .tech-slideshow {
    height: 150px;
    margin: 0 auto 1rem auto;
  }
  
  .tech-slideshow > div {
    height: 150px;
  }
}

@media screen and (max-width:500px) {
  .slidehow_image {
    width:100px;
    height:100px;
  }

  .tech-slideshow {
    height: 80px;
    margin: 0 auto 1rem auto;
  }
  
  .tech-slideshow > div {
    height: 80px;
  }
}

.some_indian_text {
  font-size: 1.5rem;
  margin: 3rem 0;
}

@media screen and (max-width:800px) {
  .some_indian_text {
    font-size: 1rem;
    margin: 1.7rem 0;
  }
}

@media screen and (max-width:500px) {
  .some_indian_text {
    font-size: 0.8rem;
    margin: 0.8rem 0;
  }
}

.shoping_lists_container {
  max-width: 1400px;
  margin: 0 auto;
}

.shoping_list_info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping_list_info_container {
  margin-bottom: 2rem;
}

.single_shop_list {
    border-radius: 4px;
    margin: 10px;
    border: 1px solid #eee;
    background-color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.single_shop_image {
  width: 173px;
}

@media screen and (max-width:800px) {
  .single_shop_image {
    width: 123px;
  } 

  .shopping_list_info_container {
    margin-bottom: 1.3rem;
  }
}

@media screen and (max-width:500px) {
  .single_shop_image {
    width: 80px;
  } 

  .shopping_list_info_container {
    margin-bottom: 0.7rem;
  }
}

.more_size_btn {
  margin: 20px 0 40px 0;
  background: #25262A;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  padding: 1rem 0.8rem;
  border-radius: 5px;
}

@media screen and (max-width:800px) {
  .more_size_btn {
    margin: 15px 0 40px 0;
    font-size: 0.9rem;
    padding: 1rem 0.8rem;
  }
}

@media screen and (max-width:500px) {
  .more_size_btn {
    margin: 5px 0 40px 0;
    font-size: 0.7rem;
    padding: 0.7rem 0.8rem;
  }
}

.door-step-bg {
  background-color: #25262A;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
}

.door_step_hindhi_title {
  font-size: 1.3rem;
}

.doorstep_title {
  font-size: 1.5rem;
  margin: 1rem 0 3rem 0;
}

@media screen and (max-width:800px) {
  .door_step_hindhi_title {
    font-size: 1rem;
  }

  .doorstep_title {
    font-size: 1.2rem;
    margin: 0.9rem 0 2rem 0;
  }

  .door-step-bg {
    padding: 2rem 1rem;
  }
  
}

@media screen and (max-width:500px) {
  .door_step_hindhi_title {
    font-size: 0.8rem;
  }

  .doorstep_title {
    font-size: 0.9rem;
    margin: 0.7rem 0 1rem 0;
  }

  .door-step-bg {
    padding: 2rem 0.7rem;
  }
}

.numberCircle
  {
      border-radius: 50%;
      /* width:120px;
      height: 120px;
      padding: 34px; */
      padding: 30px;
      /* width: 100%; */
      height: 120px;
      width: 120px;
      margin: 0 auto 2rem auto;
      background: #25262A;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 40px Arial, sans-serif;
  }
  /* .numberCircle:hover {
    -ms-transform: scale(1.4); 
    -webkit-transform: scale(1.4); 
    transform: scale(1.4); 
    color: #F7CD26;
    border: 8px solid #F7CD26;
  } */

  .door_step_para {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1rem;
  }

  .circle_title {
    color: #F7CD26;
    font-size: 1.1rem;
  }

  @media screen and (max-width:1199px) {
    .circle_three, .circle_four {
       margin-top: 1.5rem;
    }

    .numberCircle
  {
      border-radius: 50%;
      padding: 30px;
      height: 100px;
      width: 100px;
      margin: 0 auto 1.4rem auto;
      background: #25262A;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 30px Arial, sans-serif;
  }
  }

  @media screen and (max-width:767px) {
    .circle_one, .circle_two, .circle_three, .circle_four {
       margin-top: 1.1rem;
    }

    .numberCircle
  {
      border-radius: 50%;
      padding: 30px;
      height: 100px;
      width: 100px;
      margin: 0 auto 1rem auto;
      background: #25262A;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 30px Arial, sans-serif;
  }
  }

  @media screen and (max-width:500px) {
    .circle_one, .circle_two, .circle_three, .circle_four {
       margin-top: 1.1rem;
    }

    .door_step_para {
      font-size: 0.8rem;
    }

    .numberCircle
  {
      border-radius: 50%;
      padding: 30px;
      height: 85px;
      width: 85px;
      margin: 0 auto 1rem auto;
      background: #25262A;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 20px Arial, sans-serif;
  }
  }

  .why_signup_container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .why-signup-info {
    padding: 2.5rem 2rem 0rem 2rem;
  }
  
  .why_header_title {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  @media screen and (max-width:800px) {
    .why_header_title {
      font-size: 1.3rem;
      text-align: center;
    }
  }
  
  @media screen and (max-width:500px) {
    .why_header_title {
      font-size: 1.1rem;
      text-align: center;
    }
  }

  .single_list {
    font-size: 0.9rem;
  }

 .signup_image {
   margin-top: 3rem;
 }

 @media screen and (max-width:1350px) {
  .signup_image {
    margin-top: 3rem;
    width: 30rem;
  }
 }
 
 @media screen and (max-width:991px) {
  .signup_image {
    margin-top: 10rem;
    width: 25rem;
  }

  .why-signup-info {
    padding: 2rem 2rem;
  }
 }

 @media screen and (max-width:780px) {
  .signup_image {
    margin-top: 17rem;
    width: 20rem; 
  }
 }

 @media screen and (max-width:767px) {
  .signup_image {
    margin-top: 0rem;
    width: 20rem; 
  }

  .why-signup-info {
    padding: 1.7rem 1.3rem;
  }

  .single_list {
    font-size: 0.8rem;
  }
 }

 @media screen and (max-width:450px) {
  .signup_image {
    margin-top: 0rem;
    width: 15rem; 
  }

  .why-signup-info {
    padding: 1.5rem 0.9rem;
  }

  .single_list {
    font-size: 0.8rem;
  }
 }

 .bg-dark-refer {
   background: #25262A;
 }

 .refer_parent_para {
   width: 250px;
   margin: 0 auto;
 }

 .refer_frnd_para {
   background: #fff;
   padding: 0.3rem 0.8rem;
   color: #25262A;
   margin-top: 0.7rem;
   font-weight: bold;
   border-radius: 20px;
 }

 .refer_frnd_info {
   padding: 2rem 2rem;
 }

 .share_title {
   font-size: 1rem;
 }

 .gopinath_text {
   font-size: 0.9rem;
 }

 .share_frnd_btn {
   background: #e6e9ee;
   border: none;
   outline: none;
   padding: 0.7rem 1.2rem;
   border-radius: 10px;
   margin: 10px 0;
 }

 .social_media_btn_container {
   width: 100%;
   display: flex;
   justify-content: center;
 }

 .fb_link {
   flex: 0 1 calc(33.3333%);
   background-color: #385BAD;
   text-align: center;
   margin: 0 0.5rem;
   color: #fff !important;
   padding: 0 0.8rem;
   border-radius: 5px;
   cursor: pointer;
   font-size: 0.9rem;
 }
 .tw_link {
   flex: 0 1 calc(33.3333%);
   background-color: #00A4FF;
   text-align: center;
   margin: 0 0.5rem;
   color: #fff !important;
   padding: 0 0.8rem;
   border-radius: 5px;
   cursor: pointer;
   font-size: 0.9rem;
 }
 .wp_link {
   flex: 0 1 calc(33.3333%);
   background-color: #00D7A5;
   text-align: center;
   margin: 0 0.5rem;
   color: #fff !important;
   padding: 0 0.8rem;
   border-radius: 5px;
   cursor: pointer;
   font-size: 0.9rem;
 }

 .share_social_para {
   margin-top: 1rem;
 }

 .find_out_text {
   margin-top: 1rem;
   font-size: 0.9rem;
 }

 .find_out_text span {
   text-decoration: underline;
   cursor: pointer;
 }

 .iframe_class {
   width: 100% !important;
   height: 570px !important;
 }

 @media screen and (max-width:767px) {
   .iframe_class {
     margin-top: 1.5rem;
   }
   
   .refer_frnd_info {
    padding: 2rem 1.4rem;
  }
 }

 @media screen and (max-width:400px) {
   .iframe_class {
     margin-top: 1.5rem;
   }
   
   .refer_frnd_info {
    padding: 2rem 0.3rem;
  }
 }

 @media screen and (max-width:325px) {
  .social_media_btn_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fb_link, .tw_link, .wp_link {
    margin-bottom: 0.5rem;
  }
 }
 

 .about_desi_cart-container {
  max-width: 1400px;
  margin: 0 auto;
 }

 .about-desi-info {
   padding: 2rem 2rem;
 }

 .about_desi_title {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
 }

 .what_desi_title {
   font-size: 1rem;
 }

 @media screen and (max-width:800px) {
  .about-desi-info {
    padding: 1.3rem 1.3rem;
  }
 
  .about_desi_title {
   font-size: 1.3rem;
   margin: 0 0 1.5rem 0;
  }

  .what_desi_title {
    font-size: 0.9rem;
    text-align: center;
  }
 }

 @media screen and (max-width:500px) {
  .about-desi-info {
    padding: 1rem 0.3rem;
  }
 
  .about_desi_title {
   font-size: 1.3rem;
   margin: 0 0 1rem 0;
  }

  .what_desi_title {
    font-size: 0.9rem;
  }
 }

 /* details summary::-webkit-details-marker {
  display:none;
  background-image:none;
 -webkit-appearance:none;
 list-style-type: none;
 outline: none;
} */
details summary::marker {
  display:none;
  background-image:none;
 -webkit-appearance:none;
 list-style-type: none;
 outline: none;
}

summary {
  outline: none !important;
  list-style-type: none;
}


 .testimonial_container {
  max-width: 1400px;
  margin: 0 auto;
 }

 .testmonial-bg {
   background: #F2F6FD;
   width: 100%;
  height: 100%;
  padding: 3rem 2rem;
 }

 .testimonial_title {
   font-size: 1.5rem;
   margin-bottom: 2.5rem;
 }

 .test_hr {
  border: 2px solid silver;
  width: 30px; 
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
 }

 .test_name {
  margin-top: 10px;
  color:#7A7A7A;
 }

 .test_para {
  text-align: center;
  font-size: 1rem;
}

 @media screen and (max-width:1199px) {
   .test_three_card {
     margin-top: 2rem;
   }

   .test_para {
    text-align: center;
    font-size: 0.9rem;
  }

  .testmonial-bg {
   padding: 2rem 1.5rem;
  }

  .testimonial_title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
 }

 @media screen and (max-width:767px) {
   .test_two_card {
     margin-top: 2rem;
   }

   .testmonial-bg {
    padding: 1.5rem 1rem;
   }

   .testimonial_title {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }
 }

 .test_view_more_btn {
   margin: 3rem 0 1rem 0;
   background: #25262A;
   color: #fff;
   border: none;
   outline: none;
   padding: 1rem 3rem;
   border-radius: 5px;
 }

 @media screen and (max-width:800px) {
  .test_view_more_btn {
    margin: 2.7rem 0 40px 0;
    font-size: 0.9rem;
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width:500px) {
  .test_view_more_btn {
    margin: 2rem 0 40px 0;
    font-size: 0.7rem;
    padding: 0.8rem 2rem;
  }
}

.desi_accordian_container {
  margin-top: 2rem;
}

.desi_accordian_container p {
  font-size: 1rem;
}

@media screen and (max-width:500px) {
  .desi_accordian_container p {
    font-size: 0.9rem;
  }
}