.top
  {
      position: absolute;
      /* margin-top:114px; */
      width: 100%;
  }
.Frame-3
{
    /* position: absolute; */
    width: 100%;
    height: 502px;
    left: 0px;
    margin-top:114px;
}
h3
  {
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
    /* top: 669.17px; */
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
  }
  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 55px;
    width: 175px;
    margin: 0 50px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  /* a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  } */

  a:hover {
    color: #125699;
  }
  @media screen and (max-width: 600px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      /* width: 100%; */
      width: 120px;
      height: 30px;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 8px;
    }
    .card img
    {
    width: 120px;
    height: 30px;
       
    }
    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  .center
  {
      text-align: center;
      justify-content: center;
      justify-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .center button
  {
    width: 250px;
    height: 55px;
    background: #25262A;
    border-radius: 10px;
    color: white;
  }
  .center button:focus{
      outline: none;
  }
  .center a
  {
      color: white;
  }
  .stepper
  {
    /* position: absolute; */
    width: 102%;
    height: 557px;
    background: black;
    margin-left: -15px;
    color: white;
  }
  .stepper h3
  {
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    /* top: 669.17px; */
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
  }
  mat-step
  {
    border: 2px solid white;
    color: white;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .grid
  {
    position: absolute;
    width: 100%;
    height: 557px;
    margin-left: -15px;
  }
  .whysign p
  {
  font-size: 18px;
  Line-Height: 20px;
  padding: 0px;
  }
  .whysign p img
  {
  margin-right: 5px;
  }
  .numberCircle
  {
      border-radius: 50%;
      width:120px;
      height: 120px;
      padding: 34px;
      margin-left: 25px;
      background: black;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 40px Arial, sans-serif;
  }
  .numberCircle:hover {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
    color: #F7CD26;
    border: 8px solid #F7CD26;
  }
  .stepper .dash
  {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
   margin-left: -30px;
    color: #e6e9ee;
  }
  h6{
    padding-top: 40px;
  }
  .stepper p{
    font-size: 25px;
    color:#e6e9ee;
    text-align: left;
    padding: 28px 28px 0px 28px;
    margin-left: 20px;
  }
  .hide1 {
    display: none;
  }
 .hide2  {
    display: none;
  }
  .hide3 {
    display: none;
  }
  .hide4 {
    display: none;
  }
      
  .stepper #myDIV1:hover .hide1 {
    display: block;
    color: #e6e9ee;
  }
  .stepper #myDIV2:hover .hide2 {
    display: block;
    color: #e6e9ee;
  }
  .stepper #myDIV3:hover .hide3 {
    display: block;
    color: #e6e9ee;
  }
  .stepper #myDIV4:hover .hide4 {
    display: block;
    color: #e6e9ee;
  }
  .yourDesiCart p
  {
  font-size: 16px;
  }
  .yourDesiCart .Desipp p
  {
    font-size: 18px;
    Line-Height: 20px;
    padding: 0px;
    margin-left: 150px;
  } 
  .yourDesiCart p img
  {
    margin-right: 5px;
  }
  .review
  {
    width: 100%;
    height:300px;
    left: 0px;
    margin-left: -15px;
    background: #F2F6FD;
    margin-top: 30px;
  }
  footer{
    width: 100%;
    height: 390px;
    left: 0px;
    background: black;
    margin-left: -15px;
    color: white;
  }
  div.vertical-line{
    margin-top: 40px;
    width: 1px; /* Line width */
    background: #F2F6FD; /* Line color */
    height: 300px; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }
  footer .title
  {
    margin-top: 30px;
  }
  #footer
  {
    padding-top: 30px;
    margin-left: 20px;
  }

  