.top
  {
      position: absolute;
      margin-top:114px;
      width: 100%;
  }
.Frame-3
{
    /* position: absolute; */
    width: 100%;
    height: 502px;
    left: 0px;
    /* margin-top:114px; */
}
h3
  {
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    /* top: 669.17px; */
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
  }
  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card-container .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: white;
    height: 55px;
    width: 175px;
    margin: 0 50px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  /* a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  } */

  /* a:hover {
    color: #125699;
  } */
  @media screen and (max-width: 600px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      /* width: 100%; */
      width: 120px;
      height: 30px;
      background-color: white;
    }

    .card-container .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 8px;
    }
    .card-container .card img
    {
    width: 120px;
    height: 30px;
       
    }
    .card-container .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
    .Frame-3 img
    {
      width: 95%;
      height: auto;
    }
    h3
    {
      width: 98%;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
    .Frame-3 img
    {
      width: 95%;
      height: auto;
    }
  }
  .center
  {
      text-align: center;
      justify-content: center;
      justify-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 30px;
  }
  .center button
  {
    width: 200px;
    height: 55px;
    background: #25262A;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
  }
  .center button:focus{
      outline: none;
  }
  .center a
  {
      color: white;
  }
  .stepper
  {
    /* position: absolute; */
    width: 100%;
    height: 557px;
    background: black;
    /* margin-left: -15px; */
    color: white;
  }
  .stepper h3
  {
    font-style: normal;
    font-size: 25px;
    line-height: 37px;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
   
    /* top: 669.17px; */
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
  }
  mat-step
  {
    border: 2px solid white;
    color: white;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  
  .grid
  {
    position: absolute;
    width: 100%;
    height: 557px;
    margin-left: -15px;
  }
  .whysign p
  {
  font-size: 18px;
  Line-Height: 20px;
  padding: 0px;
  }
  .whysign p img
  {
  margin-right: 5px;
  }
  .numberCircle
  {
      border-radius: 50%;
      width:120px;
      height: 120px;
      padding: 34px;
      margin-left: 25px;
      background: black;
      border: 7px solid #fff;
      color: #e6e9ee;
      text-align: center;
      transition: transform .2s;
      font: 40px Arial, sans-serif;
  }
  .numberCircle:hover {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
    color: #F7CD26;
    border: 8px solid #F7CD26;
  }
  .stepper .dash
  {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
   margin-left: -30px;
    color: #e6e9ee;
  }
  h6{
    padding-top: 40px;
  }
  .stepper p{
    font-size: 25px;
    color:#e6e9ee;
    text-align: left;
    padding: 28px 28px 0px 28px;
    margin-left: 20px;
  }
  .hide1 {
    display: none;
  }
 .hide2  {
    display: none;
  }
  .hide3 {
    display: none;
  }
  .hide4 {
    display: none;
  }
      
  .stepper #myDIV1:hover .hide1 {
    display: block;
    color: #e6e9ee;
  }
  .stepper #myDIV2:hover .hide2 {
    display: block;
    color: #e6e9ee;
  }
  .stepper #myDIV3:hover .hide3 {
    display: block;
    color: #e6e9ee;
  }
  .stepper #myDIV4:hover .hide4 {
    display: block;
    color: #e6e9ee;
  }
  @media screen and (max-width: 800px) {
    .Frame-3
    {
      width: 100%;
      height: auto;
    }
    .stepper
      {
        width: 100%;
        height: 100%;
      }
      .dash{
        display: none;
      }
      #myDIV1{
       width: 100%;
      }
      .stepper #myDIV1:hover .hide1 {
        display: none;
      }
      .stepper #myDIV2:hover .hide2 {
        display: none;
      }
      .stepper #myDIV3:hover .hide3 {
        display: none;
      }
      .stepper #myDIV4:hover .hide4 {
        display: none;
      }
     
  }
  .yourDesiCart p
  {
  font-size: 16px;
  }
  summary{
    outline: none;
    font-size:0px;
  }
  details summary::-webkit-details-marker {
    display:none;
    background-image:none;
   -webkit-appearance:none;
   list-style-type: none;
  }
  .yourDesiCart .Desipp p
  {
    font-size: 18px;
    Line-Height: 20px;
    padding: 0px;
    margin-left: 150px;
  } 
  .yourDesiCart .Desipp p:hover 
  {
    cursor: pointer;
  } 
  .yourDesiCart .Desipp p:focus 
  {
    color: gray;
  } 
 
  .yourDesiCart p img
  {
    margin-right: 5px;
  }
  .yourDesiCart .Desipp #innerhide
  {
    color: gray;
    font-size: 18px;
  }
  #innerhide {
    color: gray;
  }
  #desihover:focus
  {
    outline:none;
    color: gray;
  }
  .yourDesiCart .Desipp hr{
   margin-left: 150px;
  }
  
  footer{
    width: 100%;
    height: 340px;
    left: 0px;
    background: black;
    /* margin-left: -15px; */
    color: white;
    margin-top:-10px;
  }
  div.vertical-line{
    margin-top: 40px;
    color: silver;
    width: 0.1px;
    background: silver; 
    height: 100%; 
    float: left;
  }
  footer .title
  {
    margin-top: 30px;
  }
  #footer
  {
    padding-top: 30px;
    /* margin-left: 20px; */
  }
  #footer p 
  {
    color: silver;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
  }
  #footer a
  {
    color: silver;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    text-align:center;
  }
  #footer .ccvv
  {
    margin: auto;
  }
  #footer ul
  {
    list-style-type: none;
    margin-left: -25px;
    margin-top: 20px;
  }
  .icon-flipped:hover {
    transform: rotate(180deg);
}
.flip-icon-holder{
 padding: 10px 10px 10px 0px;;
}


.tech-slideshow {
  height: 250px;
  max-width:100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 250px;
  width: 2526px;
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg); */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-39.6666%);  
  }
}

* {
  box-sizing: border-box;
}
/* .review
  {
    width: 100%;
    height:500px;
    left: 0px;
    margin-left: -15px;
    background: #F2F6FD;
    margin-top: 30px;
    padding-bottom: 30px;
  } */
.review
  {
    width: 100%;
    /* height:500px; */
    height: 100%;
    left: 0px;
    /* margin-left: -15px; */
    background: #F2F6FD;
    margin-top: 30px;
   
  }
/* Float four columns side by side */
.review .column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;padding-left: 60px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.review .column .card {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 30px;
  width: 350px;
  height: 330px;
  margin-bottom: 50px;
  margin-top: 30px;
  background: #FFFFFF;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.video .card{
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  /* padding: 30px; */
  width: 399px;
  height: 530px;
  margin-bottom: 50px;
  margin-top: 30px;
  background: #FFFFFF;
}
.video .card-header
{
  background: #000000;
  color: white;
}
.center1
  {
      text-align: center;
      justify-content: center;
      justify-items: center;
      margin-top: 10px;
  }
  .center1 button
  {
    width: 245px;
    height: 33px;
    background: white;
    border-radius: 27px;
    color: black;
    padding: 0;
  }
  .center1 button:focus{
      outline: none;
  }
  .center1 a
  {
      color: white;
  }
  .center1 .btn1
  {
    width: 154px;
    height: 46px;
    background: #EAECEF;
    border-radius: 7px;
    color: black;
    padding: 0;
    border: 1px solid #EAECEF;
  }
  .center1 .btn1:focus{
      outline: none;
  }
  .social 
  {
    width: 100px;
    height: 23px;
    border-radius: 4px;
    color: white;
    padding: 0px;
    margin: 5px;
  }
  .social:focus{
      outline: none;
  }
  @media screen and (max-width: 600px) {
      .col-sm 
      {
        display: flex;
        width: 100%;
      }
      .col-xs 
      {
        display: flex;
        width: 100%;
      }
      .numberCircle
      {
        margin-left: 35%;
      }
      .stepper p{
      text-align: center;
      width: 90%;
      padding-bottom: 30px;
      
      }
      .whysign .gGroup
      {
        width: 50%;
        margin: 0;
        padding: 0;
      }
      .gGroup img
      {
        width: 360px;
      }
      .video .card{
        width: 100%;
        height: 530px;
        /* margin-left: -15px; */
      }
      .row {margin: 0;padding-left:0;}
      .social1 
      {
        margin-left: 22px;
      }
      iframe
      {
        width: 100%;
        margin-left: -15px;
        height: 200px;
      }
      .yourDesiCart .Desipp p
    {
      font-size: 16px;
      padding: 0px;
      margin-left: 50px;
    }
    .yourDesiCart .Desipp hr
    {
      margin-left: 45px;
    }

    .review .column
    {
      width: 100%;
    }
    .review .column .card {
      width: 100%;
      height: 330px;
    
      margin-top: 30px;
    }
    footer
    {
      width: 100%;
      height: 100%;
    }  
    .vertical-line
    {
      display: none;
    }
    .fluidvids
    {
      margin-left: 15px;
      padding-top: 10px;
    }
  }
  @media screen and (max-width: 800px) {
    .col-sm 
      {
        display: flex;
        width: 100%;
      }
      .col-xs 
      {
        display: flex;
        width: 100%;
      }
      .col-md
      {
        display: flex;
        width: 100%;
      }
      .numberCircle
      {
        margin-left: 35%;
      }
      .stepper p{
      text-align: center;
      width: 90%;
      padding-bottom: 30px;
      
      }
      .whysign .gGroup
      {
        width: 50%;
        margin: 0;
        padding: 0;
      }
      .video .card{
        width: 100%;
        height: 100%;
        /* margin-left: -15px; */
      }
      .video .center1 .btn
      {
        width: 100%;
        font-size: 12px;
      }
      .row {margin: 0;padding-left:0;}
      .social1 
      {
        margin-left: 35px;
      }
      iframe
      {
        width: 100%;
        margin-left: -15px;
        height: 200px;
      }
      .yourDesiCart .Desipp p
    {
      font-size: 16px;
      padding: 0px;
      margin-left: 50px;
    }
    .yourDesiCart .Desipp hr
    {
      margin-left: 45px;
    }
  
    .review .column
    {
      width: 100%;
    }
    .review .column .card {
      width: 100%;
      height: 330px;
    
      margin-top: 30px;
    }
    footer
    {
      width: 100%;
      height: 100%;
    } 
    .vertical-line
    {
      display: none;
    }
    .gGroup img
    {
      width: 320px;
    }
    .fluidvids
    {
      margin-left: 15px;
    }
  }
  #cvvv
  {
    float:none;
    margin: auto;
    width: 100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }